{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Crear usuario</title>
{% endblock %}
{% block content %}
<div class="container">
    <div class="card-panel my-card">
        <form action="{% url 'brodus:new_user' %}" method="POST" enctype="multipart/form-data" id="create_user">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <i class="fa fa-user prefix"></i>
                    <input class="white-text" maxlength="30" name="username" id="id_username" type="text" value="">
                    <label for="id_username">Nombre de usuario</label>
                    <span class="helptext white-text">Obligatorio. Longitud máxima de 30 caracteres. Sólo puede estar formado por letras, números, guiones y puntos</span>
                </div>
                <div class="input-field col s12 m6 l6">
                    <i class="fa fa-envelope prefix"></i>
                    <input class="white-text" name="email" id="id_email" type="text" value="">
                    <label for="id_email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <i class="fa fa-lock prefix"></i>
                    <input class="white-text" name="password1" id="id_password1" type="password" class="validate" value="">
                    <label for="id_paassword1">Contraseña</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <i class="fa fa-lock prefix"></i>
                    <input class="white-text" name="password2" id="id_password2" type="password" value="">
                    <label for="id_paassword2">Confirmación de contraseña</label>
                    <span class="helptext white-text">Para verificación, introduzca la misma contraseña que introdujo en el campo anterior.</span>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m4 l4">
                    <select multiple class="white-text" name="trabajos" id="trabajos">
                        <option value="" disabled selected>Elije</option>
                        {% for trabajo in trabajos %}
                        <option value="{{trabajo.id}}">{{trabajo}}</option>
                        {% endfor %}
                    </select>
                    <label>Trabajo</label>
                </div>
                <div class="input-field col s12 m4 l4">
                    <select multiple class="white-text" name="idiomas" id="idiomas">
                        <option value="" disabled selected>Elije</option>
                        {% for idioma in idiomas %}
                        <option value="{{idioma.id}}">{{idioma}}</option>
                        {% endfor %}
                    </select>
                    <label>Idioma</label>
                </div>
                <div class="input-field col s12 m4 l4">
                    <select multiple class="white-text" name="lenguajes" id="lenguajes">
                        <option value="" disabled selected>Elije</option>
                        {% for lenguaje in lenguajes %}
                        <option value="{{lenguaje.id}}">{{lenguaje}}</option>
                        {% endfor %}
                    </select>
                    <label>Lenguaje</label>
                </div>
            </div>
            <div class="card-panel my-button lighten-1 waves-effect waves-orange ">
                <a class="btn-flat white-text" id="register"><i class="fa fa-paper-plane right"></i>Registrar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $('input:password[name=password2]').focusout(function(){
        if($('input:password[name=password2]').val()!=""){
            if($('input:password[name=password1]').val()!=$('input:password[name=password2]').val()){
                if ($('input:password[name=password2]').hasClass('valid')) {
                    $('input:password[name=password2]').removeClass('valid');
                }
                $('input:password[name=password2]').addClass('invalid');
            }else{
                if ($('input:password[name=password2]').hasClass('invalid')) {
                    $('input:password[name=password2]').removeClass('invalid');
                }
                $('input:password[name=password2]').addClass('valid');
            }
        }else{
            if ($('input:password[name=password2]').hasClass('valid')) {
                $('input:password[name=password2]').removeClass('valid');
            }
            if ($('input:password[name=password2]').hasClass('invalid')) {
                $('input:password[name=password2]').removeClass('invalid');
            }
        }
    });
    $('input:text[name=username]').focusout(function(){
        if($('input:text[name=username]').val()!=""){
            if(/^[a-zA-Z0-9-_.]*$/.test($('input:text[name=username]').val())!= true){
                if ($('input:text[name=username]').hasClass('valid')) {
                    $('input:text[name=username]').removeClass('valid');
                }
                $('input:text[name=username]').addClass('invalid');
            }else{
                if ($('input:text[name=username]').hasClass('invalid')) {
                    $('input:text[name=username]').removeClass('invalid');
                }
                $('input:text[name=username]').addClass('valid');
            }
        }else{
            if ($('input:text[name=username]').hasClass('valid')) {
                $('input:text[name=username]').removeClass('valid');
            }
            if ($('input:text[name=username]').hasClass('invalid')) {
                $('input:text[name=username]').removeClass('invalid');
            }
        }
    });

    $('input:text[name=email]').focusout(function(){
        if($('input:text[name=email]').val()!=""){
            if($('input:text[name=email]').val().indexOf("@")>=0){
                if ($('input:text[name=email]').hasClass('invalid')) {
                    $('input:text[name=email]').removeClass('invalid');
                }
                $('input:text[name=email]').addClass('valid');
            }else{
                if ($('input:text[name=email]').hasClass('valid')) {
                    $('input:text[name=email]').removeClass('valid');
                }
                $('input:text[name=email]').addClass('invalid');
            }
        }else{
            if ($('input:text[name=email]').hasClass('valid')) {
                $('input:text[name=email]').removeClass('valid');
            }
            if ($('input:text[name=email]').hasClass('invalid')) {
                $('input:text[name=email]').removeClass('invalid');
            }
        }
    });
    $('#register').click(function() {
        if($('input:password[name=password1]').hasClass('invalid') || $('input:password[name=password2]').hasClass('invalid') || $('input:text[name=email]').hasClass('invalid') || $('input:password[name=password1]').val()=="" || $('input:password[name=password2]').val()=="" || $('input:text[name=email]').val()==""){
            Materialize.toast('Verifique los campos', 2000)
        }else{
            $( "#create_user" ).submit();
        }
    });
</script>
{% endblock %}
