<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset='utf-8'>
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />
        <link rel="stylesheet" href="{% static 'css/my_style.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="icon" href="{% static 'img/broad_logo.png' %}" type="image/x-icon">
        {% block titulo %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav role="navigation">
                <div class="nav-wrapper">
                    <div class="container">
                        <a class="hide-on-med-and-down" href="{% url 'brodus:index' %}"><img src="{% static 'img/broad_b.png' %}" height="50em" width="50em" style="margin-top:0.35em"></a>
                        <a href="{% url 'brodus:index' %}" class="brand-logo" style="font-size:1.5em;">&nbsp; BroadUs</a>
                        <ul class="right hide-on-med-and-down">
                            {% if user.is_authenticated %}
                            <li ><a class="tooltipped modal-trigger waves-effect waves-light " data-position="bottom" data-delay="50" data-tooltip="{% if rol_user.su %}Añadir{% else %}Sugerir{% endif %} Trabajo, Idioma o Lenguaje" href="#add_modal"><i class='fa fa-briefcase fa-1-5x'></i></a></li>
                            <li ><a class="tooltipped" data-position="bottom" data-delay="50" href="{% url 'brodus:new_proy' %}" data-tooltip="Nuevo Proyecto"><i class='fa fa-plus fa-1-5x'></i></a></li>
                            <li ><a class="tooltipped" data-position="bottom" data-delay="50" href="{% url 'brodus:log_out' %}" data-tooltip="Log_out"><i class='fa fa-sign-out fa-1-5x'></i></a></li>
                            {% else %}
                            <li ><a class="tooltipped" data-position="bottom" data-delay="50" href="{% url 'brodus:log_in' %}" data-tooltip="Log_in"><i class='fa fa-sign-in fa-1-5x'></i></a></li>
                            {% endif %}
                        </ul>
                        <ul class="side-nav" style="right: -250px;" id="mobile-demo">
                            {% if user.is_authenticated %}
                            <li><a class="modal-trigger" href="#add_modal"><i class='fa fa-briefcase fa-fw'></i>&nbsp; {% if rol_user.su %}Añadir{% else %}Sugerir{% endif %} Trabajo, Idioma o Lenguaje</a></li>
                            <li><a href="{% url 'brodus:log_out' %}"><i class='fa fa-sign-out fa-fw'></i>&nbsp; Log-out</a></li>
                            {% else %}
                            <li><a href="{% url 'brodus:log_in' %}"><i class='fa fa-sign-in fa-fw'></i>&nbsp; Log-in</a></li>
                            {% endif %}
                        </ul>
                        <a class="waves-effect circle button-collapse" href="#" data-activates="mobile-demo"><i class="fa fa-bars"></i></a>
                    </div>
                </div>
            </nav>
            <div id="add_modal" class="modal">
                <form action="{% url 'brodus:add_new' %}" method="POST" enctype="multipart/form-data" id="add_new">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-content">
                            <div class="input-field col s5">
                                <select class="" name="tipo_new" id="tipo_new">
                                    <option value="" disabled selected>Elije</option>
                                    <option value="Jobs()">Trabajo</option>
                                    <option value="Idioma()">Idioma</option>
                                    <option value="Lenguaje()">Lenguaje</option>
                                </select>
                                <label>Tipo</label>
                            </div>
                            <div class="input-field">
                                <input maxlength="30" name="nombre_new" id="nombre_new" type="text" value="">
                                <label for="nombre_new">Nombre</label>
                            </div>
                            <div class="input-field">
                                <textarea id="desc_new" name="desc_new" class="materialize-textarea"></textarea>
                                <label for="desc_new">Descripción</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a onclick="send_me()" class=" modal-action modal-close waves-effect btn-flat" style="color: rgba(255, 255, 255, 0.90);">Agregar</a>
                        <a class=" modal-action modal-close waves-effect btn-flat" style="color: rgba(255, 255, 255, 0.90);">Cancelar</a>
                    </div>
                </form>
            </div>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
        <footer class="page-footer site-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5>BroadUs</h5>
                        <p>No hace falta buscarnos</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 style="font-size:1.18em">Links</h5>
                        <ul>
                            <li><a href="https://github.com/frandemo/Broadcast-To-Us" style="font-size:0.75em">Github</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2015 demo
                </div>
            </div>
        </footer>
    </body>
    <script src="{% static 'js/jquery-1.11.3.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'omnibus/omnibus.js' %}"></script>
    <script>
        // Select a transport implementation:
        var transport = WebSocket; // SockJS can be used alternatively

        // Receive the path for the connection from the django template context:
        var endpoint = '{{ OMNIBUS_ENDPOINT }}';

        // Define connection options:
        var options = {
            // Get the omnibus authentication token:
            autoReconnect: true,
            autoReconnectTimeout: 1000,
            authToken: '{{ OMNIBUS_AUTH_TOKEN }}'
        };

        // Create a new connection using transport, endpoint and options
        var connection = new Omnibus(transport, endpoint, options);
        var channel = connection.openChannel('proy');

        $(".button-collapse").sideNav();
        $(document).ready(function(){
            $('.tooltipped').tooltip({delay: 50});
            $('select').material_select();
            $('.modal-trigger').leanModal();
        });
        function send_me(){
            if($('input:text[name=nombre_new]').val()!=""){
                var data={
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    tipo_new:$('select[name=tipo_new]').val(),
                    nombre_new:$('input[name=nombre_new]').val(),
                    desc_new:$('textarea[name=desc_new]').val(),
                };
                $.ajax({
                    type: 'POST',
                    url: $( '#add_new' ).attr('action'),
                    data: data,
                    statusCode: {
                        202: function(){
                            Materialize.toast('Se agrego correctamente', 2000);
                            $( '#nombre_new' ).val('')
                            $( '#desc_new' ).val('')
                        },
                    },
                    error: function(err){
                        console.log(err.responseText);
                        console.log(data);
                    },
                });
            }else{
                Materialize.toast('Verifique los campos', 2000);
            }
        }
    </script>
    {% block scripts %}
    {% endblock %}
</html>
