{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Log in</title>
{% endblock %}
{% block content %}
<div class="row">
    <div class="card-panel col s12 m6 push-m3 l4 push-l4">
        <form action="{% url 'brodus:log_in' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container">
                <div class="input-field">
                    <i class="fa fa-user prefix"></i>
                    <input class="" maxlength="30" name="username" id="id_username" type="text" value="">
                    <label for="id_username">Nombre de usuario</label>
                </div>
                <div class="input-field">
                    <i class="fa fa-lock prefix"></i>
                    <input class="" name="password" id="id_password1" type="password" value="">
                    <label for="id_paassword">Contraseña</label>
                </div>
                <a href="{% url 'brodus:new_user' %}">¿No tenés usuario? Tocá para crear uno.</a>
            </div>
            <input type="text" name="next" value="{{ next }}" hidden/>
            <div class="right-align">
                <button type="submit" class="card-panel waves-effect btn-large" id="log-in">
                    <i class="fa fa-paper-plane right"></i>Log In
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    /*$('#log-in').click(function() {
        var data={
            csrfmiddlewaretoken: '{{ csrf_token }}',
            username:$('input:text[name=username]').val(),
            password:$('input:password[name=password]').val(),
            n:$('input:text[name=next]').val(),
        }

        $.ajax({
            type: "POST",
            url: "{% url 'brodus:log_in' %}",
            data: data,
            success: function(result){
                Materialize.toast('Logged', 3000);
            },
            error: function(err){
                console.log("ERRRORRRR");
                console.log(err.responseText);
                console.log(data);
            },
            statusCode: {
                203: function(){
                    Materialize.toast('Usuario o contraseña incorrectos', 3000);
                },
            },
        });
    });*/
</script>
{% endblock %}
