{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Nuevo proyecto</title>
{% endblock %}
{% block content %}
<div class="container">
    <div class="card-panel my-card">
        <div class="row">
            <div class="input-field col s6 m4">
                <!--<i class="fa fa-user prefix"></i>-->
                <input class="white-text" maxlength="30" name="name" id="id_name" type="text" value="">
                <label for="id_name">Nombre del proyecto</label>
            </div>
            <div class="input-field col s12">
                <textarea id="id_desc" name="desc_proy" class="materialize-textarea white-text"></textarea>
                <label for="id_desc">Descripción del proyecto</label>
            </div>
            <div class="input-field col s3 offset-s9 btn-large my-button" id="send_new_proj">crear proyecto</div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $('#send_new_proj').click(function(){
        if($('textarea[name=desc_proy]').val() != "" && $('input[name=name]').val() != ""){
            var data={
                csrfmiddlewaretoken: '{{ csrf_token }}',
                name:$('input[name=name]').val(),
                desc:$('textarea[name=desc_proy]').val(),
            };
            $.ajax({
                type: 'POST',
                url: "{% url 'brodus:create_proj' %}",
                data: data,
                /*TODO mostrar hidden resolver hidden o no hidden #hidden-0*/
                /*statusCode: {
                    202:function(result){
                        Materialize.toast('Ahora puede modificar', 3000);


                    },
                },*/
                success: function(result){

                },
                error: function(err){
                    console.log(err.responseText);
                    console.log(data);
                },
            });
        }else{
            Materialize.toast('Verifique los campos', 2000);
        }
    });
</script>
{% endblock %}
