{% extends 'base.html' %}
{% load static %}
{% block titulo %}
<title>Nuevo proyecto</title>
{% endblock %}
{% block content %}
<div class="container">
    <div class="card-panel my-card">
        <form action="{% url 'brodus:create_proj' %}" method="POST" enctype="multipart/form-data" id="create_proj">
            {% csrf_token %}
            <div class="row">
                <div class="input-field col s6 m4">
                    <!--<i class="fa fa-user prefix"></i>-->
                    <input class="white-text" maxlength="30" name="name" id="id_name" type="text" value="">
                    <label for="id_name">Nombre del proyecto</label>
                </div>
                <div class="input-field col s12">
                    <textarea id="id_desc" name="desc_proy" class="materialize-textarea white-text"></textarea>
                    <label for="id_desc">Descripción del proyecto</label>
                </div>
                <button class="input-field col s3 offset-s9 btn-large my-button" id="send_new_proj">crear proyecto</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $('#send_new_proj').click(function(){
        if($('textarea[name=desc_proy]').val() != "" && $('input[name=name]').val() != ""){
            $( "#create_proj" ).submit();
        }else{
            Materialize.toast('Verifique los campos', 2000);
        }
    });
</script>
{% endblock %}
