{% for i in idiomas %}
<tr>
    <td>{{i.nombre}}</td>
    <td>{{i.desc}}</td>
    <td>Idioma
        <div class="right">
            <a id="{{i.id}}" onclick="add_active(this, 'Idioma', 'r_idioma', 'True')" style="cursor:pointer;"><i class="fa fa-check"></i></a>
            <a id="{{i.id}}" onclick="add_active(this, 'Idioma', 'r_idioma', 'False')" style="cursor:pointer;"><i class="fa fa-trash"></i></a>
        </div>
    </td>
</tr>
{% empty %}
<tr>
    <td>No hay peticiones de idioma</td>
    <td>-</td>
    <td>-</td>
</tr>
{% endfor %}
